<section class="talks-section py-3">
  <h3 class="text-uppercase resume-section-heading mb-4">
    {{ i18n "talks" }}
  </h3>

  <ul class="list-unstyled resume-awards-list">
    {{ range .Site.Params.talks.list }}
    <li class="mb-3">
      <div class="font-weight-bold">{{ .name }}</div>
      {{ range .items }}
      <div class="text-muted">{{ .body }}</div>
      {{ end }}
      {{ with .date }}<div class="text-muted">{{ . }}</div>{{ end }}
    </li>
    {{ end }}
  </ul>
</section>
<!--//talks-section-->
